@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  margin: 10px;
}

body {
  margin: 0;
}

.hp-rental-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 30px;
}

.hp-rental__link {
  text-decoration: none;
}

.hp-rental {
  width: 1180px;
  border-radius: 25px;
  background: #F6F6F6;
  padding: 40px 10px;
  margin: 0 0 30px 25px;
}
.hp-rental__image {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.hp-rental__txt {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  width: 50vh;
  margin: -70px 0 0 20px;
}

.shadow {
  z-index: 1;
  box-shadow: inset 0px -90px 60px -50px rgba(0, 0, 0, 0.5);
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  margin-top: -345px;
}

.hp-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.hp-banner__image {
  width: 1200px;
  height: 223px;
  border-radius: 25px;
  filter: brightness(60%);
  -o-object-fit: cover;
     object-fit: cover;
}
.hp-banner__txt {
  position: absolute;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 500;
}

.footer {
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 0 20px 0;
  gap: 20px;
}
.footer__image {
  width: 122px;
  height: 39px;
}
.footer__txt {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.header_logo {
  width: 180px;
  height: 60px;
  margin: 20px 0 20px 30px;
}
.header_link {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 25px;
}
.header_link a {
  color: #FF6060;
  text-decoration: none;
}

.about-dpd-container {
  width: 900px;
  margin-left: 190px;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.dropdown-title {
  background: #FF6060;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  align-self: stretch;
}
.dropdown-title__image {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.dropdown-txt {
  color: #FF6060;
  background: #F6F6F6;
  align-items: center;
  display: flex;
  padding: 0 10px;
  font-weight: 400;
  animation: growDown 700ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.slideshow__image {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow__arrow-left {
  position: absolute;
  left: 20px;
  bottom: 180px;
}
.slideshow__arrow-right {
  position: absolute;
  right: 20px;
  bottom: 180px;
}
.slideshow__index {
  position: absolute;
  color: #FFFFFF;
  bottom: 30px;
  right: 600px;
  font-size: 18px;
  font-weight: 500;
}

.rental-intro {
  margin-left: 20px;
  color: #FF6060;
}
.rental-intro__title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
.rental-intro__location {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.tags-container {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.rental-tags {
  color: #FFFFFF;
  background-color: #FF6060;
  min-width: 115px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10px 0;
  padding: 2px 5px;
}

.intro-container-flex {
  display: flex;
  justify-content: space-between;
}

.host {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 10px;
}
.host__name {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  width: 80px;
  color: #FF6060;
  text-align: end;
}
.host__picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.star-rating {
  display: flex;
  justify-content: flex-end;
  margin: 30px 20px 0 0;
  font-size: 22px;
  gap: 10px;
}

.star_on {
  color: #FF6060;
}

.star-off {
  color: #F6F6F6;
}

.eq-container-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.eq-item {
  width: 600px;
}
.eq-item__list {
  width: 580px;
}/*# sourceMappingURL=main.css.map */