
.about-dpd-container {
    margin: 0 10%;

    @media (max-width: 768px) {
        margin: 0 3%;
    }
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.dropdown-title {
    background: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    align-self: stretch;

    @media (max-width: 768px) {
        font-size: 13px;
    }

    &__image {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

}

.dropdown-txt {
    color: $primary-color;
    background: $background-color;
    align-items: center;
    display: flex;
    padding: 10px;
    font-weight: 400;
    animation: growDown 700ms ease-in-out forwards;
    transform-origin: top center;
    width: 96%;

    @media (max-width: 768px) {
        font-size: 13px;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}