
.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;


    @media (max-width: 768px) {
        margin: 3%;
    }

    &__image {
        width: 96%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;

        @media (max-width: 768px) {
            height: 255px;
            border-radius: 10px;
        }
    }

    &__arrow-left {
        position: absolute;
        left: 25px;
        bottom: 180px;

        @media (max-width: 768px) {
            width: 24px;
            height: 24px;
            bottom: 230px;
            object-fit: contain;
        }
    }

    &__arrow-right {
        position: absolute;
        right: 25px;
        bottom: 180px;

        @media (max-width: 768px) {
            width: 24px;
            height: 24px;
            bottom: 230px;
            object-fit: contain;
        }
    }

    &__index {
        position: absolute;
        color: $secondary-color;
        bottom: 30px;
        right: 600px;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 768px) {
            display: none;
        }
    }

}

.rental-intro {
    margin-left: 30px;
    color: $primary-color;

    @media (max-width: 768px) {
        margin: 0 5%;
    }

    &__title {
    font-size: 36px;    
    font-weight: 500;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 18px;
        font-weight: 500;
    }
    }

    &__location {
    margin: 0;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 14px;
        font-weight: 500;
    }
    }
}

.tags-container {
    display: flex;
    gap: 10px;
    margin-left: 30px;

    @media (max-width: 768px) {
        margin-left: 20px;
        flex-wrap: wrap;
        gap: 5px;
    }
}

.rental-tags {
    color: $secondary-color;
    background-color: $primary-color;
    min-width: 115px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 10px 0;
    padding: 2px 5px;

    @media (max-width: 768px) {
        font-size: 10px;
        font-weight: 500;
        width: 84px;
        height: 18px;
        border-radius: 5px;
        margin: 10px 0 0 0;
    }
}

.intro-container-flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        justify-content: center;
        flex-direction: column;
    }
}


.host-mobile {
    @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
    }
}

.host {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;

    @media (max-width: 768px) {
        margin-right: 4%;
    }

    &__name {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
        width: 80px;
        color: $primary-color;
        text-align: end;

        @media (max-width: 768px) {
            font-size: 12px;
            margin: 3px 0;
        }
    }

    &__picture {
    border-radius: 50%;
    width: 64px;    
    height: 64px;

    @media (max-width: 768px) {
        width: 32px;
        height: 32px;
    }
    }
}

.star-rating {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 0 0;
    font-size: 22px;
    gap: 10px;

    @media (max-width: 768px) {
        font-size: 16px;
        gap: 5px;
        margin: 5px 0 0 20px;
    }
}

.star_on {
    color: $primary-color;
}

.star_off {
    color: #E3E3E3;
}

.eq-container-flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }
}

.eq-item {
    width: 47%;

    @media (max-width: 768px) {
        width: 99%;
    }

    &__list {
        margin: 0;
        padding: 0 0 0 10px;
    }

    &__list li {
        display: inline-block;
        width: 100%;
    }
}
