.hp-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }

    &__image {
        width: 98%;
        height: 223px;
        border-radius: 25px;
        filter : brightness(60%);
        object-fit: cover;

        @media (max-width: 768px) {
            width: 95%;
            height: 111px;
            border-radius: 10px;
        }
   
    }

    &__txt {
        position: absolute;
        color: $secondary-color;
        font-size: 48px;
        font-weight: 500;

        @media (max-width: 768px) {
            font-size: 24px;
            left: 25px;
        }

    }
}

.br-mobile {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }

}