.footer {
    width: 100%;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 0 20px 0;
    gap: 20px;

    @media (max-width: 768px) {
        gap: 5px;
    }

    &__image {
        width: 122px;
        height: 39px;
    }

    &__txt {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 768px) {
            width: 133px;
            height: 46px;
            font-size: 12px;
        }

    }
}